<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.mattiafasoli.mostridatasca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mostridatasca"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mostridatasca_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MostriDaTasca">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity
            android:name=".ResultPopUp"
            android:theme="@style/AppTheme.ResultPopUp" />
        <activity android:name=".Ranking" />
        <activity android:name=".Profile" />
        <activity android:name=".Register" />
        <activity
            android:name=".PopUp"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>